.custom-cursor {
	position: fixed;
	top: 0;
	left: 0;
	width: 52px;
	height: 52px;
	border: 1.5px solid #ffffff;
	border-radius: 50%;
	mix-blend-mode: difference;
	pointer-events: none;
	z-index: 9999;
	margin-left: -26px;
	margin-top: -26px;
	will-change: transform;
}

html.intro-loader-lock .custom-cursor {
	display: none;
}

@media (max-width: 1023px) {
	.custom-cursor {
		display: none;
	}
}
